{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; margin-top: -20px;"> <!-- Use negative margin-top to move the card upward -->
    <div class="card login-card">
      <div class="row no-gutters">
  
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img src="{% static 'images/faculty.jpg' %}" class="card-img" alt="Logo">
        </div>
  
        <div class="col-md-8">
          <div class="card-body">
  
            <h5 class="card-title">Faculty Login</h5>
  
            <br>
  
            <form method="POST" action = "{% url 'faculty' %}">
  
              {% csrf_token %}  
              
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control col-md-6" name="faculty_username" aria-describedby="emailHelp" required>
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control col-md-6" name="faculty_email" aria-describedby="emailHelp" required>
              </div>
  
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control col-md-6" name ="faculty_password" required>
              </div>
  
              <br>
  
              <button type="submit" class="btn btn-primary btn-block">Login</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}